

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-xs-12">
                <h2>Contact Name Here</h2> 
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class=" pull-left" style="border: 1px solid black;
                            width: 50px;
                            height: 65px;">
                    <img src="#" alt="" class="img-responsive">
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-primary" style="margin-right: 20px;">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
                
            </div>
        </div>

    </div>

    <div class="panel-body">
        <p><strong>Email: </strong><span>contact@email.com</span></p>
        <p><strong>Phone: </strong><span>123-456-7890</span></p>
    </div>
</div>
 