<div class="row">
    
    <div class="col-md-5">
        <!-- The <cms-contact- list> tag no longer needs to detect the selectedContactEvent. Delete this code from the <cms-contact-list> tag. -->
        <cms-contact-list
        
        ></cms-contact-list>
    </div>

    <div class="col-md-4">
        <!-- <cms-contact-detail
        [contact] = "selectedContact"
        *ngIf="selectedContact; else infoText"
        
        ></cms-contact-detail> -->
        <router-outlet></router-outlet>

        <ng-template #infoText>
            <p>Please select a Contact!</p>
        </ng-template>
    </div>
     
</div>
 
 
